<se-shape-properties #shapeProperties [fill]="true" [global]="true" [line-join]="true"></se-shape-properties>
<form [formGroup]="formGroup">
	<div class="form-group">
		<label seText="tool.pencil.angleLimit"></label>
		<se-slider-input [control]="formGroup.controls['angleLimit']" [min]="0" [max]="180" unit="°"></se-slider-input>
	</div>
	<div class="form-group">
		<label seText="tool.pencil.minSegmentSize"></label>
		<se-slider-input [control]="formGroup.controls['minSegmentSize']" [min]="0" [max]="100"></se-slider-input>
	</div>
</form>
