@import '../../../shared.scss';

$dialog-spacing: .8em;

.background-pane {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index-dialog-background;
	background-color: rgba(white, .33);
}

.dialog-pane {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index-dialog;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dialog {
	pointer-events: all;
	border: 1px solid black;
	border-radius: $dialog-spacing;
	box-shadow: 0 $dialog-spacing $dialog-spacing $dialog-shadow-color;
	padding: $dialog-spacing * 2;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: white;
	
	& > *:nth-child(n + 2) {
		margin-top: $dialog-spacing * 2;
	}
}

.dialog-button-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.dialog-button-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	
	& > button {
		padding-left: $dialog-spacing;
		padding-right: $dialog-spacing;
	}
	
	& > button:nth-child(n + 2) {
		margin-left: $dialog-spacing;
	}
}