<se-shape-properties #shapeProperties [global]="true" [line-cap]="false" [line-join]="true"></se-shape-properties>
<form [formGroup]="formGroup">
	<div class="form-group">
		<label seText="numberOfVertices"></label>
		<input type="number" formControlName="vertices" min="3" max="1000">
	</div>
	<div class="form-group">
		<label seText="tool.polygon.step"></label>
		<input type="number" formControlName="step" min="1" max="1000">
	</div>
	<div class="form-group">
		<label seText="rotation"></label>
		<se-slider-input [control]="formGroup.controls['angle']" [min]="-360" [max]="360" unit="°"></se-slider-input>
	</div>
</form>
