<div class="toolbar-group">
	<button type="button" seAction="document.new"></button>
	<button type="button" seAction="document.importSvg"></button>
	<button type="button" seAction="document.download"></button>
</div>
<div class="toolbar-group">
	<button type="button" seAction="edit.undo"></button>
	<button type="button" seAction="edit.redo"></button>
</div>
<div class="toolbar-group">
	<button type="button" seAction="edit.delete"></button>
	<button type="button" seAction="edit.duplicate"></button>
</div>
<div class="toolbar-group">
	<button type="button" seAction="edit.z.bottom"></button>
	<button type="button" seAction="edit.z.backwards"></button>
	<button type="button" seAction="edit.z.forwards"></button>
	<button type="button" seAction="edit.z.top"></button>
</div>
<div class="toolbar-group">
	<button type="button" seAction="edit.group"></button>
	<button type="button" seAction="edit.ungroup"></button>
</div>
<div class="toolbar-group">
	<button type="button" seAction="edit.flip.horizontally"></button>
	<button type="button" seAction="edit.flip.vertically"></button>
</div>
<div class="toolbar-group">
	<button type="button" seAction="view.grid.snap"></button>
</div>